html {
  background: #000;
  color: white;
  font-family: 'Dosis', sans-serif;
  background: url(images/bottomdollars-hires-nowords.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body {
  background-color: black!important;
  z-index: 100!important;
}

.logo {
  text-align: center;

}

.logo img {
  height: 20%;
  width: 20%;
}

.logo h2 {
  color: white;
}

a {
  text-decoration: none;
}

.tour_sec {
  margin: 0 15em;
}

.tour_sec h1 {
  margin-top: 30px;
  font-size: 80px;
  font-weight: bold;
  margin-top: 0;
}
.tour_sec a {
  color: #ff84ff;
}

.tour_dates {
  margin-top: 1em;
  text-decoration: none;
}

.dates_list {
  /*width: 50%;*/
  display: table;
  margin: 0 auto;
}

.tour_dates li {
  padding: 5px;
  text-decoration: none;
  margin: 0 auto;
  text-align: left;
  color: white;
}

.noice {margin-top: 5px;}

.social {
  color: white;
  text-align: right;
  margin-right: 2em;
}

.fa {padding: 10px; color: white!important;}

.image_box h1 {
  color: white;
  font-size: 75px;
}

.r {color: #CC0000; font-weight: bold; font-size: 18px;}

@media screen and (max-width: 815px){
  .tour_sec {margin: 0!important;}
  video {width: 500px!important;}
}
